<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>To Do List</h3>

<table>
    <thead>
    <tr>
        <th>Task</th>
        <th>Due</th>
        <th>Priority</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <div th:inline="text">
        <div th:each="item: ${tdl}">

            <tr>
                <td>
                    <div><p th:text="${item.name}"></p></div>
                </td>
                <td>
                    <div><p th:text="${item.date}"></p></div>
                </td>
                <td>
                    <div><p th:text="${item.priority}"></p></div>
                </td>
                <td>
                    <div><a th:href="@{/update/{id}(id=${item.id})}">Update</a></div>
                    <div><a th:href="@{/delete/{id}(id=${item.id})}">Delete</a></div>
                </td>
            </tr>
        </div>
    </div>
    </tbody>
</table>

    <a th:href="@{/add}">Add New Task</a>
</body>
</html>